$layout-breakpoint-small: 480px;
$layout-breakpoint-medium: 960px;
$layout-breakpoint-large: 1440px;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  font-size: 1em;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: Mondwest;
  src: url('../www/assets/fonts/Mondwest-Regular.woff2') format('woff2');
}

body {
  overflow-x: hidden;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-bottom: 1em;
  font-family: sans-serif;
  font-size: 14px;
  -webkit-text-size-adjust: none;
}

h1 {
  font-size: 1em;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0.4em;
}

h2,
h3 {
  font-size: 4em;
  line-height: 1em;
  display: block;
  font-weight: 500;
}

h3 {
  font-family: Mondwest, serif;
  padding-bottom: 2.4em;
}

.photoproject li {
  height: 180px;
  display: inline-block;
  padding: 0em 0.4em 0.4em 0em;
}

li img {
  height: 100%;
  width: auto;
}

.slideshow {
  display: grid;
  grid-template: 'container';
  overflow: hidden;
  justify-items: end;
}

.slides {
  opacity: 0;
  z-index: 1;
  grid-area: container;
}

.slides img {
  max-width: 720px;
  max-height: 480px;
}

.showing {
  opacity: 1;
  z-index: 2;
}

@media (max-width: $layout-breakpoint-small) {
  .photoproject li {
    height: 100%;
  }
  .slideshow {
    justify-items: left;
  }
  .slides img {
    max-width: 375px;
    max-height: 200px;
  }

  li img {
    max-width: 375px;
    max-height: 150px;
  }

  h2,
  h3 {
    font-size: 1em;
  }
}
